amqp==1.4.9
anyjson==0.3.3
asgiref==3.2.3
astroid==2.3.3
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
billiard==3.3.0.23
celery==3.1.25
cffi==1.13.2
channels==2.3.1
colorama==0.4.1
constantly==15.1.0
cryptography==2.8
daphne==2.4.0
Django==2.2.7
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.8
imbox==0.9.6
importlib-metadata==0.23
incremental==17.5.0
isort==4.3.21
kombu==3.0.37
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==7.2.0
numpy==1.17.4
Pillow==6.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest==1.9.0
pylint==2.4.3
pyOpenSSL==19.1.0
pytz==2019.3
scipy==1.3.2
service-identity==18.1.0
six==1.13.0
sqlparse==0.3.0
Twisted==19.10.0
txaio==18.8.1
vine==1.3.0
wrapt==1.11.2
zipp==0.6.0
zope.interface==4.7.1
